@import "breakpoints";

$containerDesktopWidth: 350px;
$containerMobileHeight: 62.78125px;

.container {
  align-items: center;
  justify-content: center;
  padding: 10px;

  @include phone {
    display: block;
    overflow-x: auto;
    width: 90%;
    padding: 0;
    height: $containerMobileHeight;
  }

  @include tablet {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-direction: row;
    font-size: 1.7rem;
    gap: 30px;
    height: $containerMobileHeight;
  }

  @include desktop {
    font-size: 2rem;
    flex-direction: column;
    width: $containerDesktopWidth;
    height: 260px;
    gap: 30px;
  }
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 5px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.currentCost {
  text-align: center;
  white-space: nowrap;
}

.optimalCost {
  white-space: nowrap;
}

.optimalMulticut {
  white-space: nowrap;
}

.loadingSpinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 1rem;
  white-space: nowrap;
}

.successMessage {
  margin: 50px;
  font-size: 3rem;
  text-align: center;
}

:export {
  containerDesktopWidth: $containerDesktopWidth;
  containerMobileHeight: $containerMobileHeight;
}
