.graph {
  position: relative;
  overflow: hidden;
}

.node {
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.clusterNode {
  box-sizing: content-box;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  border: 1px solid black;
}

.edge {
  padding: 0px;
  margin: 0px;
  line-height: 1px;
  position: absolute;
  transform-origin: 0 50%;
}

.dragArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
